:root {
  --main-color: #757575; 
}

.IconsCancel {
  border: none;
  flex: 2;
  height: 100%;
}

.IconsCancel:focus,
.IconsCancel:active {
  outline-width: 0;
}

.IconsCancel svg {
  height: 100%;
  fill: var(--main-color);
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
}